<p>add-cars works!</p>
<div class="col-lg-4">
   <form>
      <div class="form-group">
         <label >Car Name</label>
         <input type="text" class="form-control" id="carname" placeholder="Enter Car Name">
         <label >Car Color</label>
         <input type="text" class="form-control" id="carcolor" placeholder="Enter Car Color">
      </div>
      <button type="button" class="btn btn-primary ">Submit</button>
      <button type="button" class="btn btn-danger">Cancel</button>
   </form>
</div>